 <!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Homepage</h5>
                    <p class="m-b-0">Currently Active Questions</p>
                </div>
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary btn-md waves-effect waves-light">Ask Question</button>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body breadcrumb-page">
                <!-- Simple Breadcrumb card start -->
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-2">
                                <!--Paylaşıma Ait İstatistikler-->
                                <center><label class="label label-info">0 Votes</label></center>
                                
                                <p><center><label class="label label-info">0 Answers</label></center></p> <!--Cevap Sayısı. Çözüldü ise Yeşil tik??-->
                                
                                <center><label class="label label-info">0 Views</label></center> <!--Görüntüleme Sayısı-->
                            </div>
                            <div class="col-8">
                               <center class="text-left"> <a href="#!"><h5>Title</h5></a> </center>                                         <!--Başlık-->
                              <p><center class="text-left">Lorem Ipsum is simply dummy text of the printing</center>    </p>                  <!--Konu özeti, belki paylaşımdaki ilk 50 karakter??-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag1</button>      <!--Tagler-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag2</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag3</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag4</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag5</button>
                            </div>
                            <div class="col-2">
                                <br />
                                <br />
                                <center><i class="bi bi-person-fill">UserName</i></center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-2">
                                <!--Paylaşıma Ait İstatistikler-->
                                <center><label class="label label-info">-2 Votes</label></center>
                                
                                <p><center><label class="label label-primary">2 Answers</label></center></p> <!--Cevap Sayısı. Çözüldü ise Yeşil tik??-->
                                
                                <center><label class="label label-info">20 Views</label></center> <!--Görüntüleme Sayısı-->
                            </div>
                            <div class="col-8">
                               <center class="text-left"> <a href="#!"><h5>Title</h5></a> </center>                                         <!--Başlık-->
                              <p><center class="text-left">Lorem Ipsum is simply dummy text of the printing</center>    </p>                  <!--Konu özeti, belki paylaşımdaki ilk 50 karakter??-->
                             <button class="btn btn-info btn-sm waves-effect waves-light">Tag1</button>      <!--Tagler-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag2</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag3</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag4</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag5</button>
                            </div>
                            <div class="col-2">
                                <br />
                                <br />
                                <center><i class="bi bi-person-fill">UserName</i></center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-2">
                                <!--Paylaşıma Ait İstatistikler-->
                                <center><label class="label label-info">10 Votes</label></center>
                                
                                <p><center><label class="label label-success"><i class="bi bi-check-lg"></i>2 Answers</label></center></p> <!--Cevap Sayısı. Çözüldü ise Yeşil tik??-->
                                
                                <center><label class="label label-info">420 Views</label></center> <!--Görüntüleme Sayısı-->
                            </div>
                            <div class="col-8">
                               <center class="text-left"> <a href="#!"><h5>Title</h5></a> </center>                                         <!--Başlık-->
                              <p><center class="text-left">Lorem Ipsum is simply dummy text of the printing</center>    </p>                  <!--Konu özeti, belki paylaşımdaki ilk 50 karakter??-->
                             <button class="btn btn-info btn-sm waves-effect waves-light">Tag1</button>      <!--Tagler-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag2</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag3</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag4</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag5</button>
                            </div>
                            <div class="col-2">
                                <br />
                                <br />
                                <center><i class="bi bi-person-fill">UserName</i></center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-body start -->
        </div>
    </div>
    <!-- Main-body start -->
    <div id="styleSelector">
    </div>
</div>
