@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
 <!-- Page-header start -->
<div class="page-header">
    <div class="page-block">

        <div class="row align-items-center">

            <div class="col-md-3">
               
                <p class="m-b-0">  <i class="far fa-user text-c-white f-2">  </i> User ID </p>

                <p class="m-b-0"> <i class="far fa-envelope text-c-white f-2"> </i> Mail Adress </p>
                  
                <p class="m-b-0"> <i class="fa fa-arrow-right text-c-white f-2"> </i>  Department</p>

                @*<button class="btn btn-primary btn-md waves-effect waves-light">Ask Question</button>*@
            </div>
            <div class="col-md-5">
               <div class="page-header-title">
                    <h5 class="m-b-10">Summary</h5>
                    <p class="m-b-0">Lorem Ipsum is simply dummy text of the printing Lorem Ipsum is simply dummy text of the printing</p>
                </div>

                @*<button class="btn btn-primary btn-md waves-effect waves-light">Ask Question</button>*@
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body breadcrumb-page">
                <!-- Simple Breadcrumb card start -->
                <div class="col-xl-4 col-md-12">
                    
                                                <div class="card mat-stat-card">
                                                    <div class="card-block">
                                                        <div class="row align-items-center b-b-default">
                                                            <div class="col-sm-6 b-r-default p-b-20 p-t-20">
                                                                <div class="row align-items-center text-center">
                                                                    <div class="col-4 p-r-0">
                                                                        <i class="fa fa-question text-c-purple f-40"></i>
                                                                    </div>
                                                                    <div class="col-8 p-l-0">
                                                                        <h5>Questions</h5>
                                                                        <p class="text-muted m-b-0">10</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 p-b-20 p-t-20">
                                                                <div class="row align-items-center text-center">
                                                                    <div class="col-4 p-r-0">
                                                                        <i class="fa fa-stack-exchange text-c-green f-40"></i>
                                                                    </div>
                                                                    <div class="col-8 p-l-0">
                                                                        <h5>Answers</h5>
                                                                        <p class="text-muted m-b-0">32</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-center">
                                                            <div class="col-sm-6 p-b-20 p-t-20 b-r-default">
                                                                <div class="row align-items-center text-center">
                                                                    <div class="col-4 p-r-0">
                                                                        <i class="fa fa-tags text-c-red f-40"></i>
                                                                    </div>
                                                                    <div class="col-8 p-l-0">
                                                                        <h5>Tags</h5>
                                                                        <p class="text-muted m-b-0">56</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6 p-b-20 p-t-20">
                                                                <div class="row align-items-center text-center">
                                                                    <div class="col-4 p-r-0">
                                                                        <i class="far fa-envelope-open text-c-blue f-40"></i>
                                                                    </div>
                                                                    <div class="col-8 p-l-0">
                                                                        <h5>???</h5>
                                                                        <p class="text-muted m-b-0">???</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                @*<div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-2">
                                <!--Paylaşıma Ait İstatistikler-->
                                <center><label class="label label-info">0 Votes</label></center>
                                
                                <p><center><label class="label label-info">0 Answers</label></center></p> <!--Cevap Sayısı. Çözüldü ise Yeşil tik??-->
                                
                                <center><label class="label label-info">0 Views</label></center> <!--Görüntüleme Sayısı-->
                            </div>
                            <div class="col-8">
                               <center class="text-left"> <a href="#!"><h5>Title</h5></a> </center>                                         <!--Başlık-->
                              <p><center class="text-left">Lorem Ipsum is simply dummy text of the printing</center>    </p>                  <!--Konu özeti, belki paylaşımdaki ilk 50 karakter??-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag1</button>      <!--Tagler-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag2</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag3</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag4</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag5</button>
                            </div>
                            <div class="col-2">
                                <br />
                                <br />
                                <center><i class="bi bi-person-fill">UserName</i></center>
                            </div>
                        </div>
                    </div>
                </div>*@
                @*<div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-2">
                                <!--Paylaşıma Ait İstatistikler-->
                                <center><label class="label label-info">-2 Votes</label></center>
                                
                                <p><center><label class="label label-primary">2 Answers</label></center></p> <!--Cevap Sayısı. Çözüldü ise Yeşil tik??-->
                                
                                <center><label class="label label-info">20 Views</label></center> <!--Görüntüleme Sayısı-->
                            </div>
                            <div class="col-8">
                               <center class="text-left"> <a href="#!"><h5>Title</h5></a> </center>                                         <!--Başlık-->
                              <p><center class="text-left">Lorem Ipsum is simply dummy text of the printing</center>    </p>                  <!--Konu özeti, belki paylaşımdaki ilk 50 karakter??-->
                             <button class="btn btn-info btn-sm waves-effect waves-light">Tag1</button>      <!--Tagler-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag2</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag3</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag4</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag5</button>
                            </div>
                            <div class="col-2">
                                <br />
                                <br />
                                <center><i class="bi bi-person-fill">UserName</i></center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-2">
                                <!--Paylaşıma Ait İstatistikler-->
                                <center><label class="label label-info">10 Votes</label></center>
                                
                                <p><center><label class="label label-success"><i class="bi bi-check-lg"></i>2 Answers</label></center></p> <!--Cevap Sayısı. Çözüldü ise Yeşil tik??-->
                                
                                <center><label class="label label-info">420 Views</label></center> <!--Görüntüleme Sayısı-->
                            </div>
                            <div class="col-8">
                               <center class="text-left"> <a href="#!"><h5>Title</h5></a> </center>                                         <!--Başlık-->
                              <p><center class="text-left">Lorem Ipsum is simply dummy text of the printing</center>    </p>                  <!--Konu özeti, belki paylaşımdaki ilk 50 karakter??-->
                             <button class="btn btn-info btn-sm waves-effect waves-light">Tag1</button>      <!--Tagler-->
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag2</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag3</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag4</button>
                                <button class="btn btn-info btn-sm waves-effect waves-light">Tag5</button>
                            </div>
                            <div class="col-2">
                                <br />
                                <br />
                                <center><i class="bi bi-person-fill">UserName</i></center>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <!-- Page-body start -->
        </div>
    </div>
    <!-- Main-body start -->
    <div id="styleSelector">
    </div>
</div>
