@{
        Layout = "~/Views/Shared/_Layout.cshtml";
 }
<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">Search a User</h5>
                    @*<p class="m-b-0">Currently Active Questions</p>*@
                </div>
            </div>
            <div class="col-md-4">
                 @*<a href ="/Home/AskQuestion/"><button class="btn btn-primary btn-md waves-effect waves-light"> Ask Question</button> </a>*@
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->

<!-- Main-body start -->
<div class="main-body">
    <div class="page-wrapper">

        <!-- Page body start -->
        <div class="page-body">
            
            <div class="row">
                <div class="col-sm-12">
                    <!-- Basic Form Inputs card start -->
                    <div class="card">
                        <div class="card-header">
                            <h5>Search a User</h5>
                            @*<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>*@
                            <span>Filter by user </span>
                        </div>
                        <div class="card-block">
                            
                            <form>
                                @*<div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Question or Best Practice</label>
                                    <div class="col-sm-10">
                                        <select name="select" class="form-control">
                                            <option value="opt1">Question</option>
                                            <option value="opt2">Best Practice</option>
                                        </select>
                                    </div>
                                </div>*@
                                <div class="form-group row">
                                    @*<label class="col-sm-2 col-form-label">Title</label>*@
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="User">
                                    </div>
                                </div>
                                @*<div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Body</label>
                                    <div class="col-sm-10">
                                        <textarea rows="5" cols="5" class="form-control" placeholder="Body"></textarea>
                                    </div>
                                </div>*@
                            </form>

                            <div class="form-group row">
                                    <l@*abel class="col-sm-2 col-form-label">  </label>*@
                                    <div class="col-sm-10">
                                        <button class="btn btn-primary waves-effect waves-light">Search</button>
                                    </div>
                            </div>

                        </div>
                    </div>
                    <!-- Basic Form Inputs card end -->

                </div>
            </div>
        </div>
        <!-- Page body end -->
    </div>
</div>
<!-- Main-body end -->